version: "3.9"

services:
  oneframe:
    image: paidyinc/one-frame
    container_name: oneframe
    ports:
      - "8080:8080"
    networks:
      - forex-proxy-net

  cassandra:
    image: cassandra:4.1
    container_name: cassandra
    ports:
      - "9042:9042"
    networks:
      - forex-proxy-net
    environment:
      - CASSANDRA_CLUSTER_NAME=ForexCluster
      - CASSANDRA_NUM_TOKENS=256
      - CASSANDRA_START_RPC=true
    healthcheck:
      test: ["CMD", "cqlsh", "-e", "describe keyspaces"]
      interval: 30s
      timeout: 10s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - forex-proxy-net
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data

  redis-ui:
    image: ghcr.io/joeferner/redis-commander:latest
    container_name: redis-ui
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    networks:
      - forex-proxy-net
    depends_on:
      - redis

networks:
  forex-proxy-net:
    driver: bridge

volumes:
  redis-data:
